<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77360152208-29gv4tfc3o0hqca2eh43nirjpp5p1gvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77360152208-29gv4tfc3o0hqca2eh43nirjpp5p1gvh</string>
	<key>API_KEY</key>
	<string>AIzaSyA7rY88Ftpu86SXiipib7VBliSPUP9PVD0</string>
	<key>GCM_SENDER_ID</key>
	<string>77360152208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faizan.collectNotes</string>
	<key>PROJECT_ID</key>
	<string>collectnotes-f542a</string>
	<key>STORAGE_BUCKET</key>
	<string>collectnotes-f542a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77360152208:ios:4dc115d4bfe78739dbe215</string>
</dict>
</plist>